<ul id="post-pagination" class="pagination">
  {% if page.previous.url %}
  <li>
    <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}"><span></span> {{ page.previous.title | truncate: 15 }}</a>
  </li>
  {% else %}
  <li>
    <a href="{{"/" | relative_url}}"><span></span>Back</a>
  </li>
  {% endif %}
  {% if page.next.url %}
  <li >
    <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">{{ page.next.title | truncate: 15 }} <span></span></a>
  </li>
  {% else %}
  <li >
    <a href="https://twitter.com/{{site.author.social.twitter}}" target="_blank">Follow<span></span></a>
  </li>
  {% endif %}
</ul>
