* {
  box-sizing: border-box;
}

img {
  border-radius: 4px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  @media screen and (min-width: 550px) {
    padding: 2rem 3rem;
  }
  @media screen and (min-width: 768px) {
    padding: 2rem 5.5rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 120%;
    padding: 2.5rem 10rem;
  }
  @media screen and (min-width: 1440px) {
    padding: 2.5rem 15rem;
  }
  @media screen and (min-width: 2560px) {
    font-size: 167%;
    padding: 2.5rem 35rem;
  }
}

.author {
  display: flex;
  flex-direction: column;
  * {
    margin: .25rem 0;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  li {
    list-style: none;
  }
  .previous, .next {
    font-size: 1.4rem;
  }
  .page_number {
    font-size: .8rem;
    text-align: center;
  }
}

#post-pagination {
  padding-inline-start: 0;
  -webkit-padding-start: 0;
}

table {
  width: 80%;
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  background-color: $dk-grey;
  color: $grey;
  font-size: .7rem;
  letter-spacing: .2rem;
  // border-bottom: 1px solid $dkr-grey;
}

thead th:nth-child(1) {
  border-radius: 4px 0 0 0;
}

thead th:nth-last-child(1) {
  border-radius: 0 4px 0 0;
}

th, td {
  padding: .4rem;
}

tbody tr:nth-child(odd) {
  background-color: $lt-grey;
  border-top: 1px solid $dkr-grey;
}

tbody tr:nth-child(even) {
  background-color: $dk-grey;
  border-top: 1px solid $dkr-grey;
}

tbody tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

tbody tr:last-child td:last-child  {
  border-radius: 0 0 4px 0;
}




footer {
  p {
    text-align: center;
  }
  hr {
    margin: 1.5rem auto;
  }
}
