.dk-grey-text {
  color: $dk-grey;
}

body {
  background-color: $grey;
  h2.title, h2 a {
    color: $dkr-grey;
    text-decoration: none;
  }
  a {
    color: $dk-grey;
  }
}

nav {
  h1 a {
    color: #000;
  }
  li a {
    color: $ltr-grey;
  }
}

.author, .archive-read-time, #breadcrumbs a, #breadcrumbs-page a {
  color: $lt-grey;
}


// https://css-tricks.com/examples/hrs/
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

footer {
  color: $dkr-grey;
  letter-spacing: .45rem;
}

span.previous, span.next, .archive-date{
  color: $dkr-grey;
}

.page_number {
  color: $lt-grey;
}
