$ltr-grey: #fbfbf9;
$lt-grey:  #e9e8e6;
$grey:     #bac0ce;
$dk-grey:  #61656e;
$dkr-grey: #2f2c30;
$blk:      #000000;

.ltr-grey-text {color: $ltr-grey;}
.lt-grey-text  {color: $lt-grey;}
.grey-text     {color: $grey;}
.dk-grey-text  {color: $dk-grey;}
.dkr-grey-text {color: $dkr-grey;}
.blk-text      {color: #000000}

.ltr-grey-bg {background-color: $ltr-grey;}
.lt-grey-bg  {background-color: $lt-grey;}
.grey-bg     {background-color: $grey;}
.dk-grey-bg  {background-color: $dk-grey;}
.dkr-grey-bg {background-color: $dkr-grey;}


a {
  @extend .dk-grey-text;
  body.dk-grey-bg p & {
    @extend .grey-text;
  }
}

nav {
  h1 a {
    color: $blk;
  }
  li a {
    color: $ltr-grey;
  }
}

.tags {
  color: $lt-grey;
  a {
    color: $lt-grey;
  }
}

thead {
  background-color: $dk-grey;
  color: $grey;
}

tbody tr:nth-child(odd) {
  background-color: $lt-grey;
}

tbody tr:nth-child(even) {
  background-color: $dk-grey;
}

.post-meta,
.archive-read-time,
#breadcrumbs a,
#breadcrumbs-page a {
  color: $lt-grey;
}

span.previous,
span.next,
.archive-date,
footer {
  color: $dkr-grey;
}
