$white:    #ffffff;
$ltr-grey: #fbfbf9;
$lt-grey:  #e9e8e6;
$grey:     #bac0ce;
$dk-grey:  #424242;
$dkr-grey: #2f2c30;
$blk:      #000000;
$link:     #0071e1;
$link-v:   #7100e1;
$link-h:   #e17000;

// Text Colors
.wht-text      {color: $white;}
.ltr-grey-text {color: $ltr-grey;}
.lt-grey-text  {color: $lt-grey;}
.grey-text     {color: $grey;}
.dk-grey-text  {color: $dk-grey;}
.dkr-grey-text {color: $dkr-grey;}
.blk-text      {color: $blk;}
.link          {color: $link;}
.link-v        {color: $link-v;}
.link-h        {color: $link-h;}

// Background Colors
.wht-bg      {background-color: $white;}
.ltr-grey-bg {background-color: $ltr-grey;}
.lt-grey-bg  {background-color: $lt-grey;}
.grey-bg     {background-color: $grey;}
.dk-grey-bg  {background-color: $dk-grey;}
.dkr-grey-bg {background-color: $dkr-grey;}

h1 a, 
h2 a {
  @extend .blk-text;
  &:visited {
    @extend .blk-text;
  }
  &:focus {
    webkit-box-shadow: -7px 11px 19px -18px $dk-grey;
    -moz-box-shadow: -7px 11px 19px -18px $dk-grey;
    box-shadow: -7px 11px 19px -18px $dk-grey;
    border-radius: .25rem;
  }
  &:hover {
    webkit-box-shadow: -7px 11px 19px -18px $dk-grey;
    -moz-box-shadow: -7px 11px 19px -18px $dk-grey;
    box-shadow: -7px 11px 19px -18px $dk-grey;
  }
}
a {
  @extend .link;
  &:visited {
    @extend .link-v;
  }
  &:focus {
    webkit-box-shadow: -7px 11px 19px -18px $dk-grey;
    -moz-box-shadow: -7px 11px 19px -18px $dk-grey;
    box-shadow: -7px 11px 19px -18px $dk-grey;
    border-radius: .25rem;
  }
  &:hover {
    webkit-box-shadow: -7px 11px 9px -8px $dk-grey;
    -moz-box-shadow: -7px 11px 9px -8px $dk-grey;
    box-shadow: -7px 11px 9px -8px $dk-grey;
    border-radius: .25rem;
  }
}

div.content a:hover {
  @extend .link-h;
}

//body.dk-grey-bg p {
//  @extend .blk-text;
//}

button {
  body.dk-grey-bg & {
    @extend .dkr-grey-bg;
    @extend .dk-grey-text;
  }
}

nav {
  h1 a, {
    @extend .blk-text;
  }
  li a {
    @extend .dkr-grey-text;
  }
  i {
    @extend .blk-text;
  }
}

.tags {
  @extend .blk-text;
  a {
    @extend .dkr-grey-text;
  }
}

.post-meta,
.archive-read-time,
#breadcrumbs a,
#breadcrumbs-page a {
  @extend .dkr-grey-text;
}

span.previous,
span.next,
.archive-date,
footer {
  @extend .blk-text;
}

// Tables

// thead {
//   @extend .dk-grey-bg;
//   @extend .wht-text;
// }

// tbody tr:nth-child(odd) {
//   @extend .lt-grey-bg;
// }

// tbody tr:nth-child(even) {
//   @extend .dk-grey-bg;
// }