<!DOCTYPE html>
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/Article">
  {% include head.html %}
  <body id="body" class="grey-bg">
    <script async src="{{ "/assets/js/theme.js" | relative_url }}"></script>
    <div id="wrapper" class="wrapper">
      {% include header.html %}
      <main id="main" class="main">
        <section>
          <article class="">
            {{ content }}
              {% include search-lunr.html %}
              <br>
          </article>
        </section>
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>
