---
layout: default
---
{% include breadcrumbs.html %}

<h2 class="title">{{ page.title }}</h2>

<p class="post-meta">
  <span class="date">{{ page.date | date: "%B %d, %Y" }}</span>
  {% include reading-time-post.html %}
</p>

{{ content }}

<br>
{% for tag in page.tags %}
<span class ="tags tags-post"><a href="{{ site.baseurl }}/archive/index.html#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %},</span> {% endunless %}{% endfor %}

{% include post-pagination.html %}
